html, body {border: 0; margin: 0;}
body {
    background: #303030; color: white; font-family: "Fira Sans",sans-serif;
}

.screen {
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.screen .container {
    flex: 0 0 auto;
    min-width: 80ex;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.screen .container > * {
    flex: 0 1 auto;
    padding: 5vh 0 5vh 0;
}


.screen-menu {
    background: #6A003C;
}

.editor {
    text-align: left;
    font-family: monospace;
    font-size: 14pt
}

.level-header {
    border-bottom: 2px dashed white;
    text-align: center;
}

.level-header p {
    font-style: italic;
    font-size: 12pt;
}

.level-header h1 {
    font-size: 32pt;
}


/* Screen: Spalsh */
.screen-splash {
    text-align: center;
}
.screen-splash h1 {
    font-size: 42pt;
}

#logo {
    max-height: 25vh;
}

.slogan {
    font-style: italic;
    font-size: 20pt;
}

/* Generic Styles */
a {
    color: #e0e0e0;
}

.button,
input[type="button"] {
    display: inline-block;
    padding: 20px;
    width: 25vw;
    background-color: rgb(36, 36, 36);
    color: white;
    border: 4px solid white;
    font-size: 14pt;
}

dl dt {
    font-weight: bold;
}
dl dd {
    margin-bottom: 4px;
}