html, body {border: 0; margin: 0;}
body {
    background: #303030; color: white; font-family: "Fira Sans",sans-serif;
}

.screen {
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.screen .container {
    flex: 0 0 auto;
    min-width: 80ex;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.screen .container > * {
    flex: 0 1 auto;
    padding: 5vh 0 5vh 0;
}


.screen-menu {
    background: #6A003C;
    text-align: center;
}

.screen-menu .hex-row {
    display: inline-block;
}

.description-box {
    border: 2px dashed white;
    padding: 20px !important;
    text-align: left;

    transition: opacity 1s;
    opacity: 0;

    font-size: 125%;
}

.editor {
    text-align: left;
    font-family: monospace;
    font-size: 14pt;

    background: #2b2b2b;
    border-radius: 10px;
    padding: 12px;
}

.header {
    border-bottom: 2px dashed white;
    text-align: center;
}

.header p {
    font-style: italic;
    font-size: 12pt;
}

.header h1 {
    font-size: 32pt;
}


/* Screen: Spalsh */
.screen-splash {
    text-align: center;
}
.screen-splash h1 {
    font-size: 42pt;
}

#logo {
    max-height: 25vh;
    transition: all 0.5s;
}

.slogan {
    font-style: italic;
    font-size: 20pt;
}

/* Generic Styles */
a {
    color: #e0e0e0;
}

h1 {
    font-size: 36pt;
}

.button,
input[type="button"] {
    display: inline-block;
    padding: 20px;
    width: 25vw;
    background-color: rgb(36, 36, 36);
    color: white;
    border: 4px solid white;
    font-size: 14pt;
}

dl dt {
    font-weight: bold;
}
dl dd {
    margin-bottom: 4px;
}

.button-green {
    display: inline-block;

    color: black;
    background: #00ee00;
    border: 4px solid white;
    max-width: 25%;

    padding: 20px;
    font-size: 14pt;
}


/* Modal */
.modal {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal > * {
    flex: 0 0 auto;
}

.modal-inner {
    background: rgba(20, 20, 20, 0.99);;
    max-width: 75vw;
    max-height: 75vh;
    width: 100%;

    border-radius: 10px;
    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modal-inner > * {
    flex: 1 1 auto;
}

.modal-desc-long {
    padding: 20px;
}

.modal-submit {
    padding: 20px;
    text-align: center;
    border-top: 2px dashed white;
}